@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.post-content p {
    margin-bottom: 0.5rem;
  }
  .post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  .post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
  }
  .post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
  }
  .post-content a:hover {
    text-decoration: underline;
  }
  .dark .post-content a {
    color: red;
  }

.prose p {
    margin: 0;
    display: inline;
}

.prose * {
    all: revert;
}

/* Add these styles to hide scrollbar but keep functionality */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Add any additional custom styles here */